html,
body {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #f2f2f2;
	touch-action: none;
}

.toLogin {
	width: 100%;
	height: 0;
	background-color: #ffffff;
	transition: height 0.25s ease-out;
}

.toLogin.visible {
	height: 50px;
	transition: height 0.25s ease-in;
}

.toLoginButton {
	cursor: pointer;
	padding-top: 13px;
	padding-bottom: 13px;
	height: 24px;
	display: flex;
	align-items: center;
}

.toLoginButton > img {
	margin-left: 16px;
	float: left;
	height: 24px;
	width: 24px;
}

.toLoginButtonText {
	font-family: Formular, 'Open Sans Semibold', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: normal;
	text-align: left;
	color: #4262ff;
	margin-left: 8px;
}

.hidden {
	display: none;
}

/* overlay styles, all needed */
.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.message {
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	color: #fff;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	left: 50%;
	margin-left: -100px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 11;
}

.testEnvironmentWarning {
	position: absolute;
	top: 37px;
	left: 0;
	right: 0;
	pointer-events: none;
	z-index: 1;
	opacity: 0.7;
	color: #000;
	text-align: center;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.auth-tab-webview {
	background: #fff;
}
